{% extends 'base.html.twig' %}

{% block title %}Passer le quiz {{ quiz }}{% endblock %}

{% block body %}
<form method="post">
<div class="example-wrapper">
    <h1>Passer le quiz {{ quiz }}</h1>
    <ul>
        {% for question in quiz.questions %}
        <li>
            <h2>{{ question }}</h2>
            <ul>
            {% for answer in question.answers %}
            <li>
            {{ answer }}
            <input 
            value="{{ answer.id }}"
            type="{{ question.isMultiple()?"checkbox":"radio" }}" 
            name="responses[{{question.id}}][{{question.isMultiple()?answer.id:''}}]" 
            
            />
            </li>
            {% endfor %}  
            </ul>
        </li>
        {% endfor %}
    </ul>
    <div>
    <button type="submit">Valider le quiz !</button>
    </div>
</div>
</form>
{% endblock %}
